<!DOCTYPE html>
<html>
<head>
    <title>Tela de Criação de Estabelecimento</title>
</head>
<body>
    <h1>Criar Estabelecimento</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" required>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" required>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
