<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'Logo.ico' %}" type="image/x-icon">
  <!-- Design by foolishdeveloper.com -->
    <title>Login</title>
    
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!--Stylesheet-->
    
</head>
<body>
        

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
    <form method="POST">
        <h3>Entre Já</h3>
        
        {% csrf_token %} 
        <label for="username">Nome de Usuário</label>
        <input type="text" placeholder="Insira seu Nome de Usuário" id="username" name="username">

        <label for="password">Senha</label>
        <input type="password" placeholder="Insira sua Senha" id="password" name="pass">

        <button type="submit">Entrar</button>
        <div class="create-account"
            <p>Não possui uma conta?</p>
            <a href="{% url 'signup' %}" >Criar aqui</a>
        </div>
    </form>
    <!-- Adicione este código no final do seu formulário -->
    <div class="back-button">
        <a href="{% url 'inicio' %}">Voltar</a>
    </div>
</body>
</html>